### Pass the variables from one notebook to another using Magic Command : %store

In [1]:
a = 1
b = 2
Notebook_1_Divide_variable = a/b
Notebook_1_Divide_variable

0.5

In [2]:
%store Notebook_1_Divide_variable

Stored 'Notebook_1_Divide_variable' (float)

### List out all the Global Variables using Magic command : %who

In [3]:
a, b, c = "Hello", [1,2,3], 5

In [4]:
%who

Notebook_1_Divide_variable	 a	 b	 c

### Calculate the time taken by a function, command or code snippet using Magic command : %%time

In [8]:
%%time
Number = int(input("Please Enter any Number: "))

Sum = 0
while(Number > 0):
    Reminder = Number % 10
    Sum = Sum + Reminder
    Number = Number //10

print("\n Sum of the digits of Given Number = %d" %Sum)

Please Enter any Number: 45890

 Sum of the digits of Given Number = 26
Wall time: 8.56 s

### Write the content of a Jupyter Cell to a file using Magic command : %%writefile

In [7]:
%%writefile number_addition.py
def add_numbers(a, b):
    if a < 10 and b < 10:
        return 0
    else:
        c = a + b
        return c

Writing number_addition.py

In [5]:
from number_addition import add_numbers as add

In [9]:
add(1, 2)

0

### Colorful Formatting to Highlight any cell

<div class = "alert alert-block alert-danger">
    This cell Highlights any Markdown which needs <b>ATTTENTION!</b>
</div>

<div class="alert alert-block alert-success">
    This cell Highlights any Markdown which gives <b>GO AHEAD!</b>
</div>

<div class="alert alert-block alert-info">
    This cell is just for <b>INFORMATIONAL</b> purpose
</div>

### Print both head() and tail() of a dataframe in the same cell

In [15]:
import pandas as pd 

#Read a csv file
csv_df = pd.read_csv("Mall_Customers.csv")
csv_df.head()
csv_df.tail()

     CustomerID   Genre  Age  Annual_Income_K_Dollars  Spending_Score_1_to_100
195         196  Female   35                      120                       79
196         197  Female   45                      126                       28
197         198    Male   32                      126                       74
198         199    Male   32                      137                       18
199         200    Male   30                      137                       83

In [17]:
import pandas as pd 

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#Read a csv file
csv_df = pd.read_csv("Mall_Customers.csv")
csv_df.head()
csv_df.tail()

   CustomerID   Genre  Age  Annual_Income_K_Dollars  Spending_Score_1_to_100
0           1    Male   19                       15                       39
1           2    Male   21                       15                       81
2           3  Female   20                       16                        6
3           4  Female   23                       16                       77
4           5  Female   31                       17                       40

     CustomerID   Genre  Age  Annual_Income_K_Dollars  Spending_Score_1_to_100
195         196  Female   35                      120                       79
196         197  Female   45                      126                       28
197         198    Male   32                      126                       74
198         199    Male   32                      137                       18
199         200    Male   30                      137                       83